<div class="row">
    <% for(let index = 1; index <= itens.length; index++) {%>
    <div class="col-md-3 col-xs-6">
        <a href="#" class="thumbnail">
            <img class="img-rounded album" alt="300x200" data-src="holder.js/100px200?theme=vine&text=Foto - <%= index %>&auto=yes" />
        </a>
    </div>
    <% } %>
</div>