<div class="list-group">
    <a href="#" class="list-group-item">
        Novo álbum
    </a>
    <a href="#" class="list-group-item">
        Upload de fotos
    </a>
    <a href="#" class="list-group-item">
        Shutterstock
    </a>
    <a href="#" class="list-group-item">
        Pinterest
    </a>
    <a href="#" class="list-group-item">
        Google Fotos
    </a>
</div>